/* #region Color Scheme =========================================================================== 

  #22cb58 - Lime Green
  #26763a - Forest Green
  #071404 - Black W/Hint of Green

  #endRegion
*/

/* #region HTML/Body ============================================================================== */

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Inconsolata', monospace;
  background-color: #071404;
  color: #26763a;
}

/* #endregion */

/* #region Title Cards ============================================================================ */

  #randomTitle .card-body {
    background-color: #22cb58;
    color: #26763a;
  }

  #wordOne,
  #wordTwo,
  #wordThree {
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 3rem;
  }

/* #endregion */
